# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

C:\Users\pabli\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [4]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [5]:
X = data.drop('MEDV', axis=1)

y = data.MEDV

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
from sklearn.model_selection import train_test_split as tts

In [8]:
X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=22)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((404, 13), (102, 13), (404,), (102,))

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [9]:
from sklearn.linear_model import LinearRegression as LinReg

from sklearn.linear_model import Lasso        
from sklearn.linear_model import Ridge        
from sklearn.linear_model import ElasticNet   
linreg=LinReg()
lasso=Lasso()
ridge=Ridge()
elastic=ElasticNet()

In [10]:
linreg.fit(X_train, y_train)

LinearRegression()

In [11]:
linreg.intercept_

32.42825286699109

In [12]:
linreg.coef_

array([-1.01199845e-01,  4.67962110e-02, -2.06902678e-02,  3.58072311e+00,
       -1.71288922e+01,  3.92207267e+00, -5.67997339e-03, -1.54862273e+00,
        2.97156958e-01, -1.00709587e-02, -7.78761318e-01,  9.87125185e-03,
       -5.25319199e-01])

In [24]:
y_pred = linreg.predict(X_test)
y_pred[:10]

array([27.99617259, 31.37458822, 21.16274236, 32.97684211, 19.85350998,
       19.20417092, 21.07981458, 19.43179838, 19.55995513, 32.46251423])

In [23]:
y_pred1 = linreg.predict(X_train)
y_pred1[:10]

array([23.88577067, 23.1522804 , 21.18821954, 37.07763342, 15.69510401,
       21.50273908, 32.77487204, 34.25179005, 20.37425462, 26.59769519])

## 3. Calculate and print R-squared for both the training and the testing set.

In [19]:
from sklearn.metrics import r2_score as r2

In [25]:
r2(y_test, y_pred)

0.7657465943591131

In [26]:
r2(y_train, y_pred1)

0.7295941389826617

## 4. Calculate and print mean squared error for both the training and the testing set.

In [27]:
from sklearn.metrics import mean_squared_error as mse

In [28]:
mse(y_test, y_pred)

20.77068478426996

In [29]:
mse(y_train, y_pred1)

22.534576008227237

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [30]:
from sklearn.metrics import mean_absolute_error as mae

In [31]:
mae(y_test, y_pred)

3.4251818718533382

In [32]:
mae(y_train, y_pred1)

3.3328914706895394

## Classification Model Evaluation

In [33]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [36]:
X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=22)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120, 1), (30, 1))

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [39]:
from sklearn.linear_model import LogisticRegression as LogReg

logreg=LogReg()

logreg.fit(X_train, y_train)

y_pred_logreg=logreg.predict(X_test)
y_pred_logreg1=logreg.predict(X_train)

y_pred_logreg[:10],y_pred_logreg1[:10]

C:\Users\pabli\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

(array([0, 2, 1, 2, 1, 1, 1, 2, 1, 0]), array([0, 0, 1, 1, 1, 0, 0, 0, 2, 2]))

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [40]:
from sklearn.metrics import accuracy_score as acc

acc(y_test, y_pred_logreg)

0.9333333333333333

In [42]:
acc(y_train, y_pred_logreg1)

0.9666666666666667

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

## 10. Calculate and print the precision score for both the training and the testing set.

In [49]:
from sklearn.metrics import precision_score as prec

prec(y_test, y_pred_logreg,average="weighted")

0.9444444444444445

In [50]:
from sklearn.metrics import precision_score as prec

prec(y_train, y_pred_logreg1,average="weighted")

0.9666666666666667

## 11. Calculate and print the recall score for both the training and the testing set.

In [52]:
from sklearn.metrics import recall_score as rec

rec(y_test, y_pred_logreg,average = "weighted")

0.9333333333333333

In [53]:
from sklearn.metrics import recall_score as rec

rec(y_train, y_pred_logreg1,average = "weighted")

0.9666666666666667

## 12. Calculate and print the F1 score for both the training and the testing set.

In [55]:
from sklearn.metrics import f1_score as f1

f1(y_test, y_pred_logreg,average = "weighted")

0.9337995337995337

In [56]:
f1(y_train, y_pred_logreg1,average = "weighted")

0.9666666666666667

## 13. Generate confusion matrices for both the training and the testing set.

In [57]:
from sklearn.metrics import confusion_matrix as cm

cm(y_test, y_pred_logreg)

array([[ 6,  0,  0],
       [ 0, 10,  0],
       [ 0,  2, 12]], dtype=int64)

In [58]:
from sklearn.metrics import confusion_matrix as cm

cm(y_train, y_pred_logreg1)

array([[44,  0,  0],
       [ 0, 38,  2],
       [ 0,  2, 34]], dtype=int64)

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.